:root {
    --bodyBackground : linear-gradient(322deg, rgb(14, 10, 18) 0%, rgb(25, 20, 26) 35%, rgb(0, 0, 0) 49%, rgb(26, 45, 41) 100%);
    --containerBackGround : #272727;
    --textColor: #dddbdb;
    --btnBackGround : #292929;
    --btnBackGroundHover : rgb(34, 27, 45);
    --btnBackGroundActive : #8D7B68;
    --btnBorderHover : rgb(255, 255, 255);
    --btnBorderActive : rgb(148, 141, 141);
    --endStartBtnBG : radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--bodyBackground);
    /* filter: blur(10px); */
}
.heading {
    position: absolute;
    top: 10px;
    color: var(--textColor);
    font-size: 2.4rem;
    font-weight: 800;
    text-shadow: 2px 1px 1px rgb(4, 6, 3);
    text-decoration: underline;
}


/* Start Screen styles */
.startScreen {
    position: absolute;
    z-index: 1;
}
.startScreen button {
    padding: 1rem;
    font-size: 2rem;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: #000000;
    font-weight: 600;
    box-shadow: 2px 2px 10px #cbbbcf;
}
.startScreen button:hover {
    transform: scale(1.2);
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    transition: 0.3s;
}
.startScreen button:active {
    transform: scale(0.8);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}


/* End Screen Styles */
.endScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14rem;
    background-color: #271a2a;
    border: 2px solid #ddd;
    width: 25rem;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    opacity: 0.97;
    display: none;
}

.endScreen p {
    color: #dddbdb;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.endScreen .endOptions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.endScreen .endOptions button {
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    transition: .4s;
    box-shadow: 0px 5px 10px rgb(68, 67, 67);
}
.endScreen .endOptions button:hover {
    transform: scale(1.2);
}
.endScreen .endOptions button:active {
    transform: scale(0.8);
    opacity: 0.4;
}

.endScreen .endOptions button.playAgain {
    background: var(--endStartBtnBG);
    border: none;
    color: #070606;
    font-size: 1.7rem;
}
.endScreen .endOptions button.quitGame {
    background: none;
    color: #dddbdb;
}


/* Game screen styles */
.gameScreen {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: none;
    /* filter: blur(10px); */
    /* pointer-events: none; */ /* Disables Screen */
}
.container {
    position: absolute;
    width: 70%;
    color: var(--textColor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    top: 80px;
}

.details {
    padding: 1rem 3rem;
    margin: 0 10px 0 10px;
    border-radius: 0.5rem;
    background: var(--containerBackGround);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    width: 100%;
    height: 100%;
}

.details h2 {
    color: var(--textColor);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.details h2 .score {
    padding: 5px;
    color: wheat;
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 300;
    border: 1px solid wheat;
    border-radius: 0.2rem;
}

.choice {
    background-color: #000000;
    border-radius: 15px;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choiceImage {
    height: 7rem;
    width: 7rem;
}

.choiceText {
    color: rgb(197, 185, 210);
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: lighter;
}

.resultContainer {
    color: var(--textColor);
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    margin-top: 10px;
    position: absolute;
    bottom: 10rem;
    color: beige;
    transition: 5s;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    max-width: 20rem;
    width:100%;
    position: absolute;
    bottom: 40px;
    
}

.buttonContainer .choiceBtn img {
    width: 3rem;
    height: 3rem;
}

.buttonContainer .choiceBtn {
    background: var(--btnBackGround);
        opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: azure;
    font-weight: 500;
    border: none;
    transition: 0.2s;
}

.buttonContainer .choiceBtn:hover {
    background-color: var(--btnBackGroundHover);
    transform: scale(1.2);
    border: 2px solid var(--btnBorderHover);
    transition: 0.2s;
    opacity: 1;
}

.buttonContainer .choiceBtn:active {
    opacity: 0.5;
    transform: scale(1.1);
    background-color: var(--btnBackGroundActive);
    transition: 0.1s;
}

.btnBelowPara {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    font-size: 0.8rem;
    color: var(--textColor);
}

